/* body {
  margin: 0;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% 100%;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0 50%; }
  100% { background-position: 100% 50%; }
} */

.app {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px; 
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #333;
  padding-top: 20px; 
}

.app__heading {
  font-size: 2rem;
  margin-top: 5px;
}

.app__welcome {
  font-size: 2rem;
  margin-top: 2px;
}

.login-buttons {
  margin-top: 2px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #0e0d0d;
  border-radius: 5px;
  background-color: #fcfcfd;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f8;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup h2 {
  margin-bottom: 30px;
}

.popup div {
  margin-bottom: 10px;
}

.popup label {
  display: block;
  margin-bottom: 5px;
}

.popup input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.popup button {
  margin-right: 200px;
}

.popup button:last-child {
  margin-right: 0;
}
